<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h2>
        <center>Edit Your Account, <%= @user.email.capitalize %><center>
      <h2>
      </div>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
           <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label "current_password" %> <br />
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "new_password" %> <br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control", min: "8" %>
          </div>

          <div class="form-group">
            <%= f.label "new_password_confirmation" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

            <div class="button">
              <%= link_to "Back", :back, class: "btn btn-default pull-left" %> 
            </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary pull-right" %>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
           <div class="button">
            <div class="clearfix">
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-xs pull-right" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>